<a href="#/templates">Go Back</a>
<br><br>
<div class="col-md-4">
    <img class="img-full" src="../img/blue.jpg">
</div>
<div class="col-md-8">
    <h3>Blue Template</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum enim vel quam rhoncus convallis. Fusce aliquam suscipit odio, at pharetra justo commodo condimentum. Vivamus tincidunt eros justo, a dictum nisl varius nec. Nunc sed orci velit. Cras maximus faucibus eleifend. Aenean id lectus odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut pharetra porttitor varius. Donec et sapien at magna placerat viverra. Nunc ac condimentum lacus, sed feugiat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h4>$19.99</h4>
    BUY IT
</div>